<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
{% include "header.html"  %}
<div id="main">
    <div id="div__about_command">
        <div>
            Наша команда!
        </div>
        <div id="div__team">
            <div class="teammate_block">
                <div>Биба</div>
                <div>
                    <img src="../static/images/biba.jpg">
                </div>
            </div>
            <div class="teammate_block">
                <div>Боба</div>
                <div>
                    <img src="../static/images/boba.jpg">
                </div>
            </div>
            <div class="teammate_block">
                <div>Вупсень</div>
                <div>
                    <img src="../static/images/vupsen.jpg">
                </div>
            </div>
            <div class="teammate_block">
                <div>Пупсень</div>
                <div>
                    <img src="../static/images/pupsen.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html"  %}
</body>
</html>